.feature_image img{
    width: 546px;
    height: 600px;
}

.feature_section{
    padding: 20px 120px;
    display: flex;
    gap: 40px;
}

.feature_image_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
    width: 400px;
    padding-bottom: 20px;
   
}
.feature_image_content .p_four{
    font-size: 16px;
    font-weight: 500;
    color: var( --accent-color);
}
.feature_image_content .p_three{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color2);
}
.feature_image_content h3{
    font-size: 34px;
    font-weight: 800;
    
} 
.feature_image_content .p_one{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color3);
}