.about_section {
    padding: 6em;
    background: var(--bg-grad-1);
    color: var(--text-color);
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    gap: 8em;
    position: relative;
    overflow: hidden;
    margin: 70px;
}

.about_section .top_circle {
    position: absolute;
    top: -80px;
    left: -80px;
    z-index: 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--bg-grad-2);
    filter: blur(90px);
}

.about_section .bottom_circle {
    position: absolute;
    bottom: -60px;
    right: -60px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: var(--bg-grad-2);
    filter: blur(200px);
}

.about_section header,
.about_section .about_section__center {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about_section header>h2 {
    flex-basis: 30%;
    font-size: 2.4rem;
    font-weight: 800;
    z-index: 1;

}

.about_section header>p {
    flex-basis: 70%;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color2);
}

.about_section .about_section__center {
    align-items: center;
}

.about_section .about_section__center h3 {
    font-size: 3.4rem;
    font-weight: 800;
}

.about_section .about_section__center a {
    font-size: 1.6rem;
    color: var(--accent-color);
}


.about_section .about_section__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4em;
}

.about_section .about_section__cards h4 {
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 1em;
}

.about_section .about_section__cards p {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color2);
}
