.request_section{
    display: flex;
    flex-direction: column;
    padding: 40px 70px;
    justify-content: center;
    gap: 40px;
    align-items: center;
    background-color: var(--footer_bg);
    margin-top: 40px;
}

.request_section h2{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}
.request_section .request_para{
    font-size: 18px;
    font-weight: 400;
    border: 2px solid white;
    width: 190px;
    height: 50px;   
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}