.register_section > div{
     padding: 30px 70px; 
    display: flex;
 background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
 justify-content: space-between;

    
}
.register_section_left{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: black;

}
.register_section_left .p_one{
    font-size: 14px;
    font-weight: 500;
}
.register_section_left .p_two{
    font-size: 22px;
    font-weight: 800;
    
}
.register_section_right button{
 font-size: 16px;
 border-radius: 30px;
 background-color: black;
 width: 120px;
 height: 40px;
 text-align: center;
 margin: 20px;
}
.register_section{
    margin: 50px;
}