
.blog_section h2 {
    font-size: 5rem;
    line-height: 1.2;
}

.blog_section header {
    margin-bottom: 60px;
}

.blog_section .blog_section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4em;
}



.blog_post-001 {
    grid-column: span 1;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
}

.blog__grid_card {
    background: var(--card-bg);
    position: relative;
}

.blog__grid_card .triangle {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 40px;
    height: 40px;
    background: var(--main-bg);
    clip-path: polygon(0 0, 100% 0, 0 100%);
}


.blog__grid_card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 2em;
}

.blog__grid_card p {
    font: 1.4rem;
    color: var(--text-color2);
    margin-bottom: 1em;
    padding: 0em 1.4em;
}

.blog__grid_card h4 {
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 1.5em;
    padding: 0em 0.9em;
}

.blog__grid_card a {
    display: block;
    padding: 0em 1.4em 2em;
}

.blog_section{
    padding: 40px 70px;
}

.blog__grid_card {
  background-color: #042c54;   
  display: flex;
  flex-direction: column;
}

.blog_card_content {
  padding: 1.5em;
}

.blog__grid_card img {
  width: 100%;
  height: auto;     
  display: block;
}

