*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
a {
  text-decoration: none;
  color: inherit;
}

button{
  all: unset;
  cursor: pointer;
}
html{
  font-size: 62.5%;
}
body{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg) ;
  color: var(--text-color);
}