*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
a {
  text-decoration: none;
  color: inherit;
}

button{
  all: unset;
  cursor: pointer;
}
html{
  font-size: 62.5%;
}
body{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg) ;
  color: var(--text-color);
  font-family: var(--font);
}

.pry_btn{
  all: unset;
  padding: 1em 2em;
  font-size: 1.8rem;
  width: max-content;
}
.pry_btn.active {
  background: var(--pry-btn);
}

.pry_btn:hover {
  cursor: pointer;
  background: var(--pry-btn);
}


.gradient_text {
  background: linear-gradient(90deg, var(--text-grad-1) 0%, var(--text-grad-2) 100%);
   color: transparent; 
  background-clip: text;
}


.layout{
  padding: 0em 6%;
}
.gradient_line span {
  display: block;
  background: linear-gradient(90deg, var(--text-grad-1) 0%, var(--text-grad-2) 100%);
  width: 38px;
  height: 3px;
  border-radius: 4px;
}