
.banner_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    gap: 2em;
   
}

.banner_section> * {
    flex: 1;
}
.banner_section_right img{
    width: 100%;
    height: 100%;
}

.banner_section_left {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.banner_section_left h1 {
    font-size: 5rem;
    font-weight: 800;
}

.banner_section_left p {
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-color2);
}

.banner_section_left>div {
    display: flex;
}

.banner_section_left input {
    all: unset;
    background: #052d56;
    padding: 0.8em 1em;
    font-size: 1.8rem;
    flex: 0.8;
    border-radius: 4px 0px 0px 4px;
}

.banner_section_left div .pry_btn {
    /* flex: 0.4; */
    /* flex-basis: 30%; */
    border-radius: 0px 4px 4px 0px;
}
.banner_section_bottom{
    padding: 20px 18px; 
    display: flex;
   

}
.banner_section_bottom img{
    /* margin-left: -10px; */
    width: 37px;
    height: 37px;
    
}
.banner_section_bottom .p_img{
    background-color: aqua;
    border-radius: 50px;
    width: 37px;
    height: 37px;
    border: 2px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner_section_bottom div:nth-of-type(1) > *{
    margin-left : -10px;
}

.banner_section_bottom div:nth-of-type(1) img:nth-of-type(1){
    margin-left: 0px;
}

.p_tag{
    font-size: 14px !important;
    /* margin-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1024px) {
.banner_section{
    flex-direction: column;
    border: 1px solid white;
     /* padding: 0px 40px;  */
}
.banner_section_left{
    margin-top: 25px;
}
.banner_section_left h1 {
    font-size: 4rem;
    font-weight: 800;
    line-height: 120%;
}

.banner_section_left p{
    font-size: 1.3rem;
}

.banner_section_left input {
    padding: 0.4em 0.6em;
    font-size: 1rem;
    flex: 1;
}
.banner_section_left .pry_btn{
    font-size: 1rem;
}
.banner_section_bottom{
    padding: 0px;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-start;
}
.banner_section_bottom >div:nth-of-type(1){
    display: flex;
    width: 100%;
    border: 1px solid white;
}
    
}